*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: solid 1px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  transition: opacity 0.5s;
}