<footer class="footer bg-primary">
  <div class="container-md-fluid">
    <div class="footer-header d-flex justify-content-between">
      <div>
        <ul class="footer-menu d-flex">
          <li class="footer-menu-item"><a href="#" class="pl-0">首頁</a></li>
          <li class="footer-menu-item"><a href="#">系列鏡框</a></li>
          <li class="footer-menu-item"><a href="#">門市據點</a></li>
          <li class="footer-menu-item"><a href="#">部落格</a></li>
          <li class="footer-menu-item"><a href="#" class="pr-0">常見問題</a></li>
        </ul>
        <ul class="footer-contact">
          <li class="mb-2">
            <a href="tel:+" class="fs-3 d-flex align-items-center">
              <img src="../assets/images/google-font-call.svg" alt="call">
              <p>0800-000-000</p>
            </a>
          </li>
          <li>
            <a href="mailto:" class="fs-3 d-flex align-items-center">
              <img src="../assets/images/google-font-mail.svg" alt="mail">
              <p>glasses@business.com</p>
            </a>
          </li>
        </ul>
      </div>
      <ul class="footer-social d-flex">
        <li>
          <a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a>
        </li>
        <li>
          <a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a>
        </li>
        <li>
          <a href="#" class="pr-0"><img src="../assets/images/ic_social_line.png" alt="line"></a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright d-flex justify-content-between text-white">
      <p class="mb-1">Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="footer-privacy d-flex">
        <li><a href="#">隱私權政策</a></li>
        <li><a href="#" class="pr-0">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>